{% extends "layout.html" %}
{% load static %}
{% block content %}
    <main class="container">
        <h1>Surfcams</h1>
        {% for category in categories %}
            <h3 style="color: {{ category.color }}">{{ category.title }}</h3>
            <ul style="column-width: 235px; padding: 0;">
                {% for cam in category.cam_set.all %}
                    <li style="list-style: none;">
                        <a style="color: {{ cam.title_color }}"
                           href="{% url 'cam_full_detail' cam.id %}">{{ cam.title }}</a> <small style="color: {{ subtitle_color }}">{{ cam.subtitle }}</small>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </main>
{% endblock content %}
