{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'pico.min.css' %}">
</head>
<body>
    <main class="container">
        <h1>{{cam.title}}</h1>
        <table>
        {% for tide in tides %}
        <tr>
            <td>
                {{tide.date}}
            </td>
            <td>
                {{tide.type}}
            </td>
            <td>
                {{tide.height}}
            </td>
        </tr>
        {% endfor %}
        </table>
    </main>
</body>
</html>
