{% extends "layout.html" %}
{% load static %}
{% block content %}
    <video style="display: block;
                  margin-left: auto;
                  margin-right: auto"
           id="video"
           muted
           autoplay
           playsinline
           controlsList="nofullscreen nodownload noremoteplayback"
           controls>
    </video>
    <div id="error"
         style="position:fixed;
                display: none;
                top: 10px;
                right:10px;
                border: 2px solid red;
                background-color: var(--background-color);
                color: var(--color);
                padding: 10px;
                border-radius: 10px"></div>
    <main class="container">
        <h1>{{ cam.title }}</h1>
        <ul style="column-width: 235px; padding: 0;">
            {% for related_cam in related_cams %}
                <li style="list-style: none;">
                    <a style="color: {{ related_cam.title_color }}"
                       href="{% url 'cam_full_detail' related_cam.id %}">{{ related_cam.title }}</a> <small style="color: {{ subtitle_color }}">{{ related_cam.subtitle }}</small>
                </li>
            {% endfor %}
        </ul>
        <div hx-get="{% url 'surfline_detail' cam.id %}"
             hx-trigger="load"
             aria-busy="true"
             hx-swap="outerHTML"></div>
    </main>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="{% static 'video.js' %}"></script>
    <script>
            (function () {
                const video = new Video('{{ cam.url }}', '{% url "cams" %}').play();
            })();
    </script>
{% endblock content %}
