{% extends "layout.html" %}
{% load static %}
{% block content %}
    <video id="video"
           width="100%"
           muted
           autoplay
           playsinline
           controlsList="nofullscreen nodownload noremoteplayback"
           controls>
    </video>
    <div id="error"
         style="position:fixed;
                display: none;
                top: 10px;
                right:10px;
                border: 2px solid red;
                background-color: var(--background-color);
                color: var(--color);
                padding: 10px;
                border-radius: 10px"></div>
    <main class="container">
        <h1>
            <img src="{% static cam.image_name %}"
                 alt="{{ cam.subtitle }}"
                 style="font-size: inherit;
                        vertical-align: middle;
                        -o-object-fit: contain;
                        object-fit: contain;
                        margin: -.2ex 0.15em .2ex;
                        width: 32px;
                        height: 32px" />
            {{ cam.title }}
        </h1>
        <ul>
            {% for related_cam in related_cams %}
                <li style="list-style: none; display: inline;">
                    <img src="{% static related_cam.image_name %}"
                         alt="{{ related_cam.subtitle }}"
                         style="font-size: inherit;
                                vertical-align: middle;
                                -o-object-fit: contain;
                                object-fit: contain;
                                margin: -.2ex 0.15em .2ex;
                                width: 16px;
                                height: 16px" />
                    <a style="color: {{ related_cam.title_color }}"
                       href="{% url 'cam_full_detail' related_cam.id %}">{{ related_cam.title }}</a>
                </li>
            {% endfor %}
        </ul>
        <div hx-get="{% url 'surfline_detail' cam.id %}"
             hx-trigger="load"
             aria-busy="true"
             hx-swap="outerHTML"></div>
    </main>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="{% static 'video.js' %}"></script>
    <script>
            (function () {
                const video = new Video('{{ cam.url }}', '{% url "cams" %}').play();
            })();
    </script>
{% endblock content %}
