<div class="grid">
    <div>
        <table>
            {% for tide in tides %}
                <tr>
                    <td>
                        {% if tide.type == "HIGH" %}
                            ▲
                        {% else %}
                            ▼
                        {% endif %}
                        {{ tide.type | title }}
                    </td>
                    <td>{{ tide.date | date:"H:i" }}</td>
                    <td style="text-align: right;">{{ tide.height }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <table>
            {% for sun in sunlight %}
                <tr>
                    <td>{{ sun.type | title }}</td>
                    <td style="text-align: right;">{{ sun.date | date:"H:i" }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div>
    <table>
        {% for wind, wave in wind_and_waves %}
            {% if wind.break %}
                <tr>
                    <td colspan="7">{{ wind.date | date:"l, M j" }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td style="text-align: center;">Swell(m)</td>
                    <td style="text-align: center;">Primary Swell</td>
                    <td style="text-align: center;" colspan="2">Wind</td>
                </tr>
            {% else %}
                <tr>
                    <td style="padding:  0px 0px; width: 12px; font-size: 10px">{{ wind.date | date:"G:i" }}</td>
                    <td style="">
                        <div style="text-align: center;">{{ wave.min|floatformat:"1" }}-{{ wave.max| floatformat:"1" }}m</div>
                    </td>
                    <td style="padding: 10px 8px;
                               line-height: 36px;
                               display: flex;
                               justify-content: space-evenly">
                        <div>
                            <strong class="margin: 0px 10px">{{ wave.primary_swell_size | floatformat:"1" }}</strong><span style="font-size:12px">m</span>
                        </div>
                        <div>
                            <strong>{{ wave.primary_swell_period }}</strong><span style="font-size: 12px;">s</span>
                        </div>
                        <div>
                            <strong>{{ wave.power|floatformat:"0" }}</strong><span style="font-size: 12px;">kJ</span>
                        </div>
                        <div style="text-align: center; line-height: 18px; display: inline-block;">
                            <div style="transform: rotate(calc({{ wave.primary_swell_direction | floatformat:"0" }}deg - 270deg))">➤</div>
                            <span style="font-size:10px;">{{ wave.primary_swell_direction | floatformat:"0" }}°</span>
                        </div>
                    </td>
                    <td style="padding: 10px 8px;">
                        <div style="display: flex; justify-content: flex-end;">
                            <div style="float: left;
                                        font-size: 16px;
                                        font-weight: bold;
                                        display: inline-block">{{ wind.speed|floatformat:"0" }}</div>
                            <div style="padding: 0px 0px 0px 4px;
                                        float: left;
                                        font-size:8px;
                                        line-height: 8px;
                                        text-align: right;
                                        display: inline-block">
                                {{ wind.gust|floatformat:"0" }}
                                <br>
                                kph
                            </div>
                        </div>
                    </td>
                    <td style="padding: 10px 8px;
                               background-color: {{ wind.color }};
                               color: white;
                               text-align: center;
                               line-height: 12px">
                        <div style="transform: rotate(calc({{ wind.direction | floatformat:"0" }}deg - 270deg))">➤</div>
                        <span style="font-size: 10px">{{ wind.direction_type | title }}</span>
                    </td>
                    <!-- D8833B -->
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>
