[Unit]
Description=Surfcams
After=nginx.service

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/var/apps/surfcams
ExecStart=/var/apps/surfcams/.venv/bin/gunicorn surfcamsapi.asgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MANPID
User=anze

[Install]
WantedBy=multi-user.target
