[Unit]
Description=Surfcams
After=nginx.service

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/bin/bash /home/anze/projects/surfcams/.deploy/run.sh

[Install]
WantedBy=multi-user.target
